$lavenderblue: #8993d7;
$blanketblue: #5461A0;
$alarmblue: #0042B0;
$abyssblue: #01245b;
$walnut: #785A00;
$cloud: #f0effc;
$cushionpink: #D97D82;
$clotred: #9F4A51;


$reallylightgray: #f9f9f9;
$lightergray: #eaeaea;
$lightishgray: #e3e3e3;
$lesslightgray: #cecece;
