@import "colors";

.projects-apex {
    overflow-x: scroll;
}

.projects-bar {
    width: 12rem;
    flex-shrink: 0;
    background-color: $reallylightgray;
    box-shadow: 2px 0 0 $lesslightgray;
}

.project-tab {
    position: relative;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: $abyssblue;
    width: 12rem;
}

.project-tab-index {
    position: relative;
    padding: 0.5rem 1rem;
    cursor: default;
    text-decoration: underline;
    font-weight: bold;
    width: 12rem;
}

.project-display {
    overflow-x: auto;
}

.selected {
    color: $alarmblue;
    font-weight: bold;
}
