@import "colors";

.jumbotron {
    position: relative;
    height: min(calc(100vh - 6rem), 64rem);

    & > * {
        z-index: 1;
    }
}

.jumbotron-img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%) sepia(50%) contrast(100%) saturate(100%);
}

.button {
    padding: {
        top: 0.5rem;
        bottom: 0.5rem;
        left: 1rem;
        right: 1rem;
    }

    cursor: pointer;
    border-radius: 0.25rem;
    border: 1px solid white;
    text-align: center;
}

.react-markdown {
    padding: 0 1rem;
    > * {
        overflow-x: visible
    }
}

.please-be-monospace {
    font-family: "Inconsolata", monospace;
}

// This is for the react-markdown stuff.
// Use the default CSS tags (barf)
.rmd {
    h1 {
        margin: 1rem 0;
    }

    blockquote {
        border-left: 4px solid $alarmblue;
        margin-left: 0;
        margin-right: 0;
        padding: 0.25rem 1rem;
        max-width: max-content;
        background-color: $reallylightgray;
        overflow-x: scroll;
    }

    blockquote > * {
        text-wrap: none;
        white-space: nowrap;
    }

    pre {
        border-radius: 0.25rem;
        max-width: max-content;
        overflow-x: scroll;
        background-color: $reallylightgray;
        padding: 1rem 1rem;
        > code {
            padding: 0;
        }

        > pre {

        }
    }

    code {
        font-family: "Inconsolata", monospace;
        color: black;
        padding: 0.25rem 0;
        border-radius: 0.25rem;
        background-color: $reallylightgray;
    }

    table {
        > * {
            padding: 0;
            margin: 0;
        }

        border-spacing: 0;
        border-radius: 0.25rem;
        box-shadow: 0 0 0 1px black;
        border-collapse: collapse;
        overflow: hidden;


        thead {
            tr {
                background-color: $lesslightgray;
                border-bottom: 1px solid black;
                th {
                    min-width: 12rem;
                    padding: 0.5rem 1rem;
                }

                th:not(:last-child) {
                    border-right: 1px solid black;
                }
            }
        }
        tbody {
            tr {
                background-color: $reallylightgray;
                td {
                    padding: 0.5rem 1rem;
                }

                td:not(:last-child) {
                    border-right: 1px solid $lesslightgray;
                }
            }
            tr:not(:last-child) {
                border-bottom: 1px solid $lesslightgray;
            }
        }
    }
}